[Unit]
Description=kcrypt mount
DefaultDependencies=no
Before=cos-immutable-rootfs.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/kcrypt-mount-local
